//-
//- Homepage
//-
extends ../layouts/master

block vars
  - var pageTitle     = 'Andalan Mama';
  - var pageName      = 'e404';
  - var bodyClass     = 'e404';

block main
  .e404--wrapper
    .e404--main
      .container
        img(src="images/thumb--404.png" alt="") 
        p
          | Maaf, Halaman yang anda tuju tidak ditemukan, <br /> kembali ke <a href="https://andalanmama.com/recipe">Menu Utama</a>
