//-
//- Steps
//-
<div class="recipe__steps">
  <div class="container">
    <div class="_tutorial--inner">
      <div class="_slider">

        <div class="_slide">
          <div class="_inner">
            <div class="_info">
              <p class="_info--title">Siapkan Daging Sirloin</p>
              <div class="_info--text">Siapkan dan balurkan daging dengan Minyak Goreng Filma, garam, lada hitam, gula, bubuk kaldu sapi secukupnya</div>
            </div>
            <div class="_image">
              <img src="https://andalan-mama.sgp1.digitaloceanspaces.com/recipes/filma/1-1583210770-379144251.png" loading="lazy" alt="">
            </div>
          </div>
        </div>

        <div class="_slide">
          <div class="_inner">
            <div class="_info">
              <p class="_info--title">Oleskan Bumbu hingga Merata</p>
              <div class="_info--text">Balurkan Cajun powder, ketumbar bubuk lalu oleskan bumbu hingga merata</div>
            </div>
            <div class="_image">
              <img src="https://andalan-mama.sgp1.digitaloceanspaces.com/recipes/filma/1-1583210775-827998719.png" loading="lazy" alt="">
            </div>
          </div>
        </div>

        <div class="_slide">
          <div class="_inner">
            <div class="_info">
              <p class="_info--title">Siapkan Bahan Saus Chimichurri</p>
              <div class="_info--text">Masukkan Minyak Goreng Filma, bawang putih, bawang merah, cabai hijau besar, parsley, daun ketumbar, perasan jeruk nipis</div>
            </div>
            <div class="_image">
              <img src="https://andalan-mama.sgp1.digitaloceanspaces.com/recipes/filma/1-1583210780-1511041739.png" loading="lazy" alt="">
            </div>
          </div>
        </div>

        <div class="_slide">
          <div class="_inner">
            <div class="_info">
              <p class="_info--title">Panggang Sirloin</p>
              <div class="_info--text">Oleskan minyak di panggangan kemudian panggang sirloin sesuai dengan tingkat kematangan yang diinginkan</div>
            </div>
            <div class="_image">
              <img src="https://andalan-mama.sgp1.digitaloceanspaces.com/recipes/filma/1-1583210795-957302807.png" loading="lazy" alt="">
            </div>
          </div>
        </div>

      </div>
      <div class="_indicator">
        <div class="_indicator--info"><span class="_current">1</span> dari <span class="_total">1</span> langkah</div>
        <div class="_indicator--main">
          <div class="_bar"></div>
          <div class="_active" style="width: 0%;"></div>
        </div>
      </div>
    </div>
  </div>
</div>