//-
//- Footer view
//-
footer.footer
  .footer--left
    ._inner
      img(src="images/footer--products.png" alt="")

  .footer--center
    ._inner
      ._content
        p
          a(href="https://andalanmama.com/privacy")
            span Kebijakan Privasi
        p
          a(href="https://andalanmama.com/terms")
            span Syarat & Ketentuan

        p
          a(href="https://www.facebook.com/andalanmama.id/" target="_blank")
            img(src="images/facebook.svg" alt="")

          a(href="https://www.instagram.com/andalanmama.id/" target="_blank")
            img(src="images/instagram.svg" alt="")

          a(href="https://www.youtube.com/andalanmamabyfilma" target="_blank")
            img(src="images/youtube.svg" alt="")

