//-
//- Header view
//-
.header
  .header--inner
    ul
      li
        a(href="https://andalanmama.com")
          span BERANDA
      li
        a._active(href="https://andalanmama.com/recipe")
          span RESEP
      li
        a(href="https://andalanmama.com/article")
          span TIPS & ARTIKEL